image: node:20-alpine

stages:
  - build

cache:
  paths:
    - node_modules

before_script:
  - npm ci

build:
  stage: build
  script:
    - npm run build
  artifacts:
    paths:
      - .next
      - public
    expire_in: 1 day
  only:
    - main
    - develop